In [1]:
import pandas as pd
import numpy as np 
import re

In [22]:
bevolking = pd.read_csv('/Users/bert/Desktop/Projecten/amsterdam_p/Data bevolking/bevolkingamsterdam.csv', sep=';')
bevolking

,City_Area,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80+,totaal
0,A Centrum,2794.0,2274.0,2242.0,2921.0,7264.0,11399.0,9504.0,6619.0,5321.0,5761.0,6188.0,6047.0,5400.0,4883.0,4349.0,2357.0,1987.0,87310.0
1,B Westpoort,4.0,1.0,3.0,5.0,13.0,12.0,12.0,8.0,8.0,4.0,4.0,7.0,10.0,10.0,2.0,2.0,1.0,106.0
2,E West,7622.0,5664.0,5114.0,5317.0,9989.0,20599.0,20068.0,14078.0,10688.0,9736.0,9143.0,8363.0,6571.0,5230.0,4199.0,2483.0,2557.0,147421.0
3,F Nieuw-West,9867.0,9309.0,8735.0,9335.0,13915.0,16619.0,14326.0,12023.0,9994.0,9510.0,9560.0,9481.0,7752.0,6075.0,4934.0,3463.0,5226.0,160124.0
4,K Zuid,7179.0,5891.0,5119.0,5197.0,9830.0,19176.0,17149.0,11844.0,9375.0,9309.0,8840.0,8118.0,6958.0,6343.0,6270.0,4155.0,5538.0,146291.0
5,M Oost,7463.0,6688.0,7229.0,7589.0,11181.0,16606.0,14942.0,11359.0,9547.0,10043.0,9381.0,8415.0,6981.0,5480.0,4133.0,2424.0,2588.0,142049.0
6,N Noord,6145.0,5877.0,5456.0,5555.0,6538.0,7819.0,7966.0,7523.0,6403.0,6488.0,6519.0,6579.0,5539.0,4284.0,3891.0,2769.0,3887.0,99238.0
7,T Zuidoost,4750.0,4704.0,4977.0,5604.0,8338.0,7913.0,6908.0,6064.0,5509.0,5680.0,5795.0,6332.0,5835.0,4572.0,3220.0,1818.0,1822.0,89841.0
8,Amsterdam,45824.0,40408.0,38875.0,41523.0,67068.0,100143.0,90875.0,69518.0,56845.0,56531.0,55430.0,53342.0,45046.0,36877.0,30998.0,19471.0,23606.0,872380.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#First I drop all the NaN values, they don't make sense. 

bevolking = bevolking.dropna()
bevolking

,City_Area,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,45-49,50-54,55-59,60-64,65-69,70-74,75-79,80+,totaal
0,A Centrum,2794.0,2274.0,2242.0,2921.0,7264.0,11399.0,9504.0,6619.0,5321.0,5761.0,6188.0,6047.0,5400.0,4883.0,4349.0,2357.0,1987.0,87310.0
1,B Westpoort,4.0,1.0,3.0,5.0,13.0,12.0,12.0,8.0,8.0,4.0,4.0,7.0,10.0,10.0,2.0,2.0,1.0,106.0
2,E West,7622.0,5664.0,5114.0,5317.0,9989.0,20599.0,20068.0,14078.0,10688.0,9736.0,9143.0,8363.0,6571.0,5230.0,4199.0,2483.0,2557.0,147421.0
3,F Nieuw-West,9867.0,9309.0,8735.0,9335.0,13915.0,16619.0,14326.0,12023.0,9994.0,9510.0,9560.0,9481.0,7752.0,6075.0,4934.0,3463.0,5226.0,160124.0
4,K Zuid,7179.0,5891.0,5119.0,5197.0,9830.0,19176.0,17149.0,11844.0,9375.0,9309.0,8840.0,8118.0,6958.0,6343.0,6270.0,4155.0,5538.0,146291.0
5,M Oost,7463.0,6688.0,7229.0,7589.0,11181.0,16606.0,14942.0,11359.0,9547.0,10043.0,9381.0,8415.0,6981.0,5480.0,4133.0,2424.0,2588.0,142049.0
6,N Noord,6145.0,5877.0,5456.0,5555.0,6538.0,7819.0,7966.0,7523.0,6403.0,6488.0,6519.0,6579.0,5539.0,4284.0,3891.0,2769.0,3887.0,99238.0
7,T Zuidoost,4750.0,4704.0,4977.0,5604.0,8338.0,7913.0,6908.0,6064.0,5509.0,5680.0,5795.0,6332.0,5835.0,4572.0,3220.0,1818.0,1822.0,89841.0
8,Amsterdam,45824.0,40408.0,38875.0,41523.0,67068.0,100143.0,90875.0,69518.0,56845.0,56531.0,55430.0,53342.0,45046.0,36877.0,30998.0,19471.0,23606.0,872380.0

In [24]:
#Second we gonna take a look to the total population
#totale_bevolking = bevolking[['totaal']]

bevolking['0-24'] = bevolking['0-4']+bevolking['5-9']+bevolking['10-14']+bevolking['15-19']+bevolking['20-24']

bevolking['25-44'] = bevolking['25-29']+bevolking['30-34']+bevolking['35-39']+bevolking['40-44']

bevolking['45-69'] = bevolking['45-49']+bevolking['50-54']+bevolking['55-59']+bevolking['60-64']+bevolking['65-69']

bevolking['70+'] = bevolking['70-74']+bevolking['75-79']+bevolking['80+']

bevolking = bevolking.drop(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80+'], axis=1)

bevolking

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

       City_Area    totaal      0-24     25-44     45-69      70+
0     A  Centrum   87310.0   17495.0   32843.0   28279.0   8693.0
1   B  Westpoort     106.0      26.0      40.0      35.0      5.0
2        E  West  147421.0   33706.0   65433.0   39043.0   9239.0
3  F  Nieuw-West  160124.0   51161.0   52962.0   42378.0  13623.0
4        K  Zuid  146291.0   33216.0   57544.0   39568.0  15963.0
5        M  Oost  142049.0   40150.0   52454.0   40300.0   9145.0
6       N  Noord   99238.0   29571.0   29711.0   29409.0  10547.0
7    T  Zuidoost   89841.0   28373.0   26394.0   28214.0   6860.0
8      Amsterdam  872380.0  233698.0  317381.0  247226.0  74075.0

In [25]:
bevolking_percentage_jongeren = bevolking['0-24']/bevolking['totaal']*100
bevolking_percentage_jongeren

0    20.037796
1    24.528302
2    22.863771
3    31.950863
4    22.705430
5    28.264895
6    29.798061
7    31.581349
8    26.788555
dtype: float64

In [27]:
bevolking_percentage_volwassen = bevolking['25-44']/bevolking['totaal']*100
bevolking_percentage_volwassen

0    37.616539
1    37.735849
2    44.385128
3    33.075616
4    39.335297
5    36.926694
6    29.939136
7    29.378569
8    36.381050
dtype: float64

In [29]:
bevolking_percentage_babyboomers= bevolking['45-69']/bevolking['totaal']*100
bevolking_percentage_babyboomers

0    32.389188
1    33.018868
2    26.484015
3    26.465739
4    27.047460
5    28.370492
6    29.634817
7    31.404370
8    28.339256
dtype: float64

In [31]:
bevolking_percentage_ouderen= bevolking['70+']/bevolking['totaal']*100
bevolking_percentage_ouderen

0     9.956477
1     4.716981
2     6.267085
3     8.507781
4    10.911813
5     6.437919
6    10.627985
7     7.635712
8     8.491139
dtype: float64