In [13]:
import pandas as pd
from scipy.stats import f_oneway

#let's load the dataset
rate = pd.read_csv('rate_by_city.csv')
rate

     Rate  City
0   13.75     1
1   13.75     1
2   13.50     1
3   13.50     1
4   13.00     1
5   13.00     1
6   13.00     1
7   12.75     1
8   12.50     1
9   14.25     2
10  13.00     2
11  12.75     2
12  12.50     2
13  12.50     2
14  12.40     2
15  12.30     2
16  11.90     2
17  11.90     2
18  14.00     3
19  14.00     3
20  13.51     3
21  13.50     3
22  13.50     3
23  13.25     3
24  13.00     3
25  12.50     3
26  12.50     3
27  15.00     4
28  14.00     4
29  13.75     4
30  13.59     4
31  13.25     4
32  12.97     4
33  12.50     4
34  12.25     4
35  11.89     4
36  14.50     5
37  14.00     5
38  14.00     5
39  13.90     5
40  13.75     5
41  13.25     5
42  13.00     5
43  12.50     5
44  12.45     5
45  13.50     6
46  12.25     6
47  12.25     6
48  12.00     6
49  12.00     6
50  12.00     6
51  12.00     6
52  11.90     6
53  11.90     6

In [17]:
rate['city_count'] = rate.groupby('City').cumcount()
rate_pivot = rate.pivot(index='city_count', columns='City', values='Rate')
rate_pivot
rate_pivot.columns = ['City_'+str(x) for x in rate_pivot.columns.values]
rate_pivot

            City_1  City_2  City_3  City_4  City_5  City_6
city_count
0            13.75   14.25   14.00   15.00   14.50   13.50
1            13.75   13.00   14.00   14.00   14.00   12.25
2            13.50   12.75   13.51   13.75   14.00   12.25
3            13.50   12.50   13.50   13.59   13.90   12.00
4            13.00   12.50   13.50   13.25   13.75   12.00
5            13.00   12.40   13.25   12.97   13.25   12.00
6            13.00   12.30   13.00   12.50   13.00   12.00
7            12.75   11.90   12.50   12.25   12.50   11.90
8            12.50   11.90   12.50   11.89   12.45   11.90

In [18]:
print(rate.Rate.mean())
rate_pivot.describe().transpose()

13.006666666666668

        count       mean       std    min   25%    50%    75%    max
City_1    9.0  13.194444  0.446825  12.50  13.0  13.00  13.50  13.75
City_2    9.0  12.611111  0.710096  11.90  12.3  12.50  12.75  14.25
City_3    9.0  13.306667  0.556350  12.50  13.0  13.50  13.51  14.00
City_4    9.0  13.244444  0.967007  11.89  12.5  13.25  13.75  15.00
City_5    9.0  13.483333  0.718940  12.45  13.0  13.75  14.00  14.50
City_6    9.0  12.200000  0.504356  11.90  12.0  12.00  12.25  13.50

In [23]:
f_oneway(rate_pivot["City_1"],rate_pivot.City_2,rate_pivot.City_3,rate_pivot.City_4,rate_pivot.City_5,rate_pivot.City_6)
#f_oneway(rate_pivot.City_3,rate_pivot.City_4,rate_pivot.City_5)

#type(rate_pivot.City_1)

F_onewayResult(statistic=4.8293848737024, pvalue=0.001174551414504048)

In [35]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

model = ols('Rate ~ C(City)', data=rate).fit()
anova_table = sm.stats.anova_lm(model)
anova_table

            df     sum_sq   mean_sq         F    PR(>F)
C(City)    5.0  10.945667  2.189133  4.829385  0.001175
Residual  48.0  21.758133  0.453294       NaN       NaN

In [54]:
from scipy.stats import linregress

auto = pd.read_csv('auto-mpg.csv')
auto.head(60)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""
5,15.0,8,429.0,198.0,4341,10.0,70,"\t""ford galaxie 500"""
6,14.0,8,454.0,220.0,4354,9.0,70,"\t""chevrolet impala"""
7,14.0,8,440.0,215.0,4312,8.5,70,"\t""plymouth fury iii"""
8,14.0,8,455.0,225.0,4425,10.0,70,"\t""pontiac catalina"""
9,15.0,8,390.0,190.0,3850,8.5,70,"\t""amc ambassador dpl"""
10,15.0,8,383.0,170.0,3563,10.0,70,"\t""dodge challenger se"""
11,14.0,8,340.0,160.0,3609,8.0,70,"\t""plymouth 'cuda 340"""
12,15.0,8,400.0,150.0,3761,9.5,70,"\t""chevrolet monte carlo"""
13,14.0,8,455.0,225.0,3086,10.0,70,"\t""buick estate wagon (sw)"""
14,24.0,4,113.0,95.0,2372,15.0,70,"\t""toyota corona mark ii"""
15,22.0,6,198.0,95.0,2833,15.5,70,"\t""plymouth duster"""
16,18.0,6,199.0,97.0,2774,15.5,70,"\t""amc hornet"""
17,21.0,6,200.0,85.0,2587,16.0,70,"\t""ford maverick"""
18,27.0,4,97.0,88.0,2130,14.5,70,"\t""datsun pl510"""
19,26.0,4,97.0,46.0,1835,20.5,70,"\t""volkswagen 1131 deluxe sedan"""
20,25.0,4,110.0,87.0,2672,17.5,70,"\t""peugeot 504"""
21,24.0,4,107.0,90.0,2430,14.5,70,"\t""audi 100 ls"""
22,25.0,4,104.0,95.0,2375,17.5,70,"\t""saab 99e"""
23,26.0,4,121.0,113.0,2234,12.5,70,"\t""bmw 2002"""
24,21.0,6,199.0,90.0,2648,15.0,70,"\t""amc gremlin"""
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""
29,27.0,4,97.0,88.0,2130,14.5,71,"\t""datsun pl510"""
30,28.0,4,140.0,90.0,2264,15.5,71,"\t""chevrolet vega 2300"""
31,25.0,4,113.0,95.0,2228,14.0,71,"\t""toyota corona"""
32,25.0,4,98.0,NaN,2046,19.0,71,"\t""ford pinto"""
33,19.0,6,232.0,100.0,2634,13.0,71,"\t""amc gremlin"""
34,16.0,6,225.0,105.0,3439,15.5,71,"\t""plymouth satellite custom"""
35,17.0,6,250.0,100.0,3329,15.5,71,"\t""chevrolet chevelle malibu"""
36,19.0,6,250.0,88.0,3302,15.5,71,"\t""ford torino 500"""
37,18.0,6,232.0,100.0,3288,15.5,71,"\t""amc matador"""
38,14.0,8,350.0,165.0,4209,12.0,71,"\t""chevrolet impala"""
39,14.0,8,400.0,175.0,4464,11.5,71,"\t""pontiac catalina brougham"""
40,14.0,8,351.0,153.0,4154,13.5,71,"\t""ford galaxie 500"""
41,14.0,8,318.0,150.0,4096,13.0,71,"\t""plymouth fury iii"""
42,12.0,8,383.0,180.0,4955,11.5,71,"\t""dodge monaco (sw)"""
43,13.0,8,400.0,170.0,4746,12.0,71,"\t""ford country squire (sw)"""
44,13.0,8,400.0,175.0,5140,12.0,71,"\t""pontiac safari (sw)"""
45,18.0,6,258.0,110.0,2962,13.5,71,"\t""amc hornet sportabout (sw)"""
46,22.0,4,140.0,72.0,2408,19.0,71,"\t""chevrolet vega (sw)"""
47,19.0,6,250.0,100.0,3282,15.0,71,"\t""pontiac firebird"""
48,18.0,6,250.0,88.0,3139,14.5,71,"\t""ford mustang"""
49,23.0,4,122.0,86.0,2220,14.0,71,"\t""mercury capri 2000"""
50,28.0,4,116.0,90.0,2123,14.0,71,"\t""opel 1900"""
51,30.0,4,79.0,70.0,2074,19.5,71,"\t""peugeot 304"""
52,30.0,4,88.0,76.0,2065,14.5,71,"\t""fiat 124b"""
53,31.0,4,71.0,65.0,1773,19.0,71,"\t""toyota corolla 1200"""
54,35.0,4,72.0,69.0,1613,18.0,71,"\t""datsun 1200"""
55,27.0,4,97.0,60.0,1834,19.0,71,"\t""volkswagen model 111"""
56,26.0,4,91.0,70.0,1955,20.5,71,"\t""plymouth cricket"""
57,24.0,4,113.0,95.0,2278,15.5,72,"\t""toyota corona hardtop"""
58,25.0,4,97.5,80.0,2126,17.0,72,"\t""dodge colt hardtop"""
59,23.0,4,97.0,54.0,2254,23.5,72,"\t""volkswagen type 3"""

In [39]:
slope, intercept, r_value, p_value, std_err = linregress(auto.acceleration, auto.mpg)
slope, intercept, r_value, p_value, std_err

(1.1912045293502274,
 4.9697930042539085,
 0.4202889121016507,
 1.8230915350787203e-18,
 0.12923643283101396)

In [40]:
import statsmodels.api as sm

X = sm.add_constant(auto.acceleration) # We must add the intercept using the add_constant function
Y = auto.mpg
X

     const  acceleration
0      1.0          12.0
1      1.0          11.5
2      1.0          11.0
3      1.0          12.0
4      1.0          10.5
..     ...           ...
393    1.0          15.6
394    1.0          24.6
395    1.0          11.6
396    1.0          18.6
397    1.0          19.4

[398 rows x 2 columns]

In [41]:
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()
print_model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.177
Model:                            OLS   Adj. R-squared:                  0.175
Method:                 Least Squares   F-statistic:                     84.96
Date:                Tue, 25 Aug 2020   Prob (F-statistic):           1.82e-18
Time:                        11:19:10   Log-Likelihood:                -1343.9
No. Observations:                 398   AIC:                             2692.
Df Residuals:                     396   BIC:                             2700.
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const            4.9698      2.043      2.432      0.015       0.953       8.987
acceleration     1.1912      0.129      9.217      0.000       0.937       1.445
==============================================================================
Omnibus:                       17.459   Durbin-Watson:                   0.677
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.214
Skew:                           0.497   Prob(JB):                     0.000111
Kurtosis:                       2.670   Cond. No.                         91.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [55]:
X = sm.add_constant(auto[['cylinders', 'weight', 'acceleration']]) # adding a constant
Y = auto.mpg

X

     const  cylinders  weight  acceleration
0      1.0          8    3504          12.0
1      1.0          8    3693          11.5
2      1.0          8    3436          11.0
3      1.0          8    3433          12.0
4      1.0          8    3449          10.5
..     ...        ...     ...           ...
393    1.0          4    2790          15.6
394    1.0          4    2130          24.6
395    1.0          4    2295          11.6
396    1.0          4    2625          18.6
397    1.0          4    2720          19.4

[398 rows x 4 columns]

In [56]:
model = sm.OLS(Y, X).fit()
predictions = model.predict(X) 

print_model = model.summary()
print_model

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    mpg   R-squared:                       0.700
Model:                            OLS   Adj. R-squared:                  0.698
Method:                 Least Squares   F-statistic:                     306.7
Date:                Tue, 25 Aug 2020   Prob (F-statistic):          1.14e-102
Time:                        11:33:53   Log-Likelihood:                -1142.9
No. Observations:                 398   AIC:                             2294.
Df Residuals:                     394   BIC:                             2310.
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           42.3811      1.960     21.627      0.000      38.528      46.234
cylinders       -0.4827      0.302     -1.599      0.111      -1.076       0.111
weight          -0.0065      0.001    -11.342      0.000      -0.008      -0.005
acceleration     0.2034      0.091      2.236      0.026       0.025       0.382
==============================================================================
Omnibus:                       34.469   Durbin-Watson:                   0.816
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               45.516
Skew:                           0.654   Prob(JB):                     1.31e-10
Kurtosis:                       4.016   Cond. No.                     2.82e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.82e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""